<div class="container">
  <h3 mat-dialog-title>Alumnos de {{ unidadCentro?.unidad_centro }}</h3>
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>
            <input matInput [formControl]="nombreFilter" placeholder="Nombre" />
            <span mat-sort-header></span>
          </th>
          <td mat-cell *matCellDef="let alumno">{{ alumno.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef>
            <input matInput [formControl]="apellidosFilter" placeholder="Apellidos" />
            <span mat-sort-header></span>
          </th>
          <td mat-cell *matCellDef="let alumno">{{ alumno.apellidos }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha_nacimiento">
          <th mat-header-cell *matHeaderCellDef>
            <input matInput [formControl]="fecha_nacimientoFilter" placeholder="Edad" />
            <span mat-sort-header></span>
          </th>
          <td mat-cell *matCellDef="let alumno">{{ alumno.fecha_nacimiento | edad}}</td>
        </ng-container>

        <ng-container matColumnDef="linkedin">
          <th mat-header-cell *matHeaderCellDef>
            <input matInput [formControl]="linkedinFilter" placeholder="LinkedIn" />
            <span mat-sort-header></span>
          </th>
          <td mat-cell *matCellDef="let alumno">
            <a [href]="alumno.linkedin" target="_blank">Ver Perfil</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-icon-button (click)="addAlumno(finalIdCentro)">
              <mat-icon>add_circle</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let alumno">
            <button mat-icon-button (click)="editAlumno(alumno,unidadCentro)">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteAlumno(alumno)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
  </div>
</div>
